<!-- <ng-container *ngFor="let c of connections">
  <video #videoStreams width="100" height="100" autoplay style="border: 1px solid blue;" [id]="c.sessionId">
  </video>
</ng-container> -->

<!-- <div class="video-container">
  <video #userWindow>
  </video>
  <div *ngIf="EnableVideoToggle" class="controller-button">

  </div>
</div> -->

<h1>Welcome to stream camera client</h1>

<input style="width: 50%" type="text" [(ngModel)]="streamUrl"><button (click)="updateStream()">Update Stream</button>