<h2>Welcome to stream camera client</h2>

<mat-form-field appearance="fill" style="width: 90vw;">
  <mat-label>Name</mat-label>
  <input matInput type="text" [(ngModel)]="name">
</mat-form-field>
<br/>

<mat-form-field appearance="fill" style="width: 90vw;">
  <mat-label>Current Channel</mat-label>
  <input matInput type="text" [(ngModel)]="streamUrl">
</mat-form-field>
<br/>
<button mat-raised-button (click)="updateStream()">Update Stream</button>

<mat-form-field appearance="fill" style="width: 90vw;">
  <mat-label>Message</mat-label>
  <input matInput type="text" [(ngModel)]="message">
</mat-form-field>
<br/>
<button mat-raised-button (click)="sendMessage()">Send Message</button>