*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.grid-wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .main-window {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        background: grey;
        position: relative;
        overflow: hidden;

        iframe {
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
}

html, body, app-root {
    height: 100vh;
    width: 100%;
    margin: 0;
    }