<div
  class="grid-wrapper"
  [class.stream-enabled]="channelEnabled"
  [class.party-mode]="!channelEnabled"
>
  <div class="main-window" *ngIf="channelEnabled">
    <iframe
      [src]="currentChannel"
      frameborder="0"
      allowfullscreen
      allow="autoplay"
    >
    </iframe>
  </div>
  <video
    *ngFor="let c of connections"
    #videoStreams
    autoplay
    [id]="c.sessionId"
  ></video>

  <div class="chat-wrapper">
    <div class="chat-box">
      <ng-container *ngFor="let m of messages">
        <span style="font-style: italic">{{ m.name || "anonymous" }}</span
        ><span> : {{ m.message }}</span
        ><br />
      </ng-container>
    </div>
  </div>
</div>
